body {
    background: no-repeat fixed 50% 50% /80% url('img/night.jpeg');
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

.window {
    flex: 1;
    position: relative;
}

.credit {
    position: absolute;
    left: 1rem;
    bottom: 0;
}

.credit,
.credit > a {
    color: rgb(255, 255, 255, .25) ;
    font-size: 1rem;
}

.credit > a:hover {
    color: white;
}

.forms {
    flex: 1;
    background-color: rgb(42, 29, 18);
    padding: 2rem;
    padding-top: 0;
    color: wheat;
}

@media (max-width: 800px) {
    .main {
      flex-direction: column;
      height: 200vh;
    }
    .credit {
        top: 0;
    }
  }